In [1]:
import numpy as np
import pandas as pd

In [11]:
class MLR:

    def __init__(self):
        self.coef_ = None
        self.intercept_ = None

    def fit(self,X_train,y_train):
        X_train = np.insert(X_train,0,1,axis=1)

        coefficients =np.linalg.inv(np.dot(X_train.T,X_train)).dot(X_train.T).dot(y_train)
        self.intercept_ = coefficients[0]                        
        self.coef_ = coefficients[1:]
        
    def predict(self,X_test):
        y_pred =np.dot(X_test,self.coef_) + self.intercept_
        return y_pred

In [15]:
df=pd.read_csv(r"C:\Users\91861\Desktop\Artifical Intelligence\Machine Leraning\MULTIPLE_LINEAR_REGRESSION\Salary_dataset.csv")

In [37]:
df.head()

,YearsExperience,Age,Education,JobType,Location,CompanySize,PerformanceRating,ProjectsCompleted,Certifications,Promoted,Salary
0,1.1,22,0,3,2,1,3,2,0,0,45000
1,1.3,23,0,2,1,0,3,3,1,0,42000
2,1.5,24,0,1,2,1,4,4,1,0,46000
3,1.8,25,0,0,0,0,3,2,0,0,38000
4,2.0,26,0,4,2,2,4,5,2,0,55000

In [39]:
df.describe()

,YearsExperience,Age,Education,JobType,Location,CompanySize,PerformanceRating,ProjectsCompleted,Certifications,Promoted,Salary
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,5.795960,41.303030,0.929293,3.050505,1.676768,1.535354,4.090909,12.676768,2.797980,0.616162,85151.515152
std,2.845796,11.258969,0.811304,1.466453,0.603194,0.674811,0.948586,7.783851,1.603439,0.488794,33979.694908
min,0.800000,21.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,35000.000000
25%,3.450000,32.000000,0.000000,2.000000,1.500000,1.000000,3.000000,6.500000,2.000000,0.000000,55000.000000
50%,5.800000,41.000000,1.000000,3.000000,2.000000,2.000000,4.000000,12.000000,3.000000,1.000000,82000.000000
75%,8.050000,50.500000,2.000000,4.000000,2.000000,2.000000,5.000000,18.000000,4.000000,1.000000,112000.000000
max,12.000000,63.000000,2.000000,5.000000,2.000000,2.000000,5.000000,35.000000,5.000000,1.000000,160000.000000

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   YearsExperience    99 non-null     float64
 1   Age                99 non-null     int64
 2   Education          99 non-null     int32
 3   JobType            99 non-null     int32
 4   Location           99 non-null     int32
 5   CompanySize        99 non-null     int32
 6   PerformanceRating  99 non-null     int64
 7   ProjectsCompleted  99 non-null     int64
 8   Certifications     99 non-null     int64
 9   Promoted           99 non-null     int32
 10  Salary             99 non-null     int64
dtypes: float64(1), int32(5), int64(5)
memory usage: 6.7 KB

In [17]:
from sklearn.preprocessing import OrdinalEncoder

# Define correct orders
education_order = ['Bachelor', 'Master', 'PhD']
jobtype_order = ['HR', 'Sales', 'Marketing', 'Engineering', 'DataScience', 'Management']
location_order = ['Rural', 'Suburban', 'Urban']
companysize_order = ['Small', 'Medium', 'Large']
promoted_order = ['No', 'Yes']

# Ordinal Encoder
encoder = OrdinalEncoder(categories=[
    education_order,
    jobtype_order,
    location_order,
    companysize_order,
    promoted_order
])

# Apply encoding
df[['Education', 'JobType', 'Location', 'CompanySize', 'Promoted']] = \
    encoder.fit_transform(
        df[['Education', 'JobType', 'Location', 'CompanySize', 'Promoted']]
    )

# Optional: convert to int for clarity
df[['Education', 'JobType', 'Location', 'CompanySize', 'Promoted']] = \
    df[['Education', 'JobType', 'Location', 'CompanySize', 'Promoted']].astype(int)

# Final check
print(df.dtypes)

YearsExperience      float64
Age                    int64
Education              int32
JobType                int32
Location               int32
CompanySize            int32
PerformanceRating      int64
ProjectsCompleted      int64
Certifications         int64
Promoted               int32
Salary                 int64
dtype: object

In [19]:
x=df.iloc[:,1:-1]
y=df.iloc[:,-1:]

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=3)

In [23]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(79, 9) (20, 9) (79, 1) (20, 1)

In [25]:
lr = MLR()

In [27]:
lr.fit(X_train,y_train)

In [29]:
y_pred = lr.predict(X_test)

In [31]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
print("MAE",mean_absolute_error(y_test,y_pred))
print("MSE",mean_squared_error(y_test,y_pred))
print("R2 score",r2_score(y_test,y_pred))

MAE 2906.661394352373
MSE 20647580.113861356
R2 score 0.9694917827030474

In [33]:
lr.coef_

array([[  -21.55896653],
       [10457.17834072],
       [ 1119.00229862],
       [ -363.91895183],
       [ 1190.54469315],
       [ -946.01446027],
       [ 2833.8818369 ],
       [ 2465.81460238],
       [ -607.1549158 ]])

In [35]:
lr.intercept_

array([33394.07891827])