In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\91861\Desktop\Artifical Intelligence\Machine Leraning\2. MULTIPLE_LINEAR_REGRESSION\Salary_dataset.csv")

In [4]:
df.head()

,YearsExperience,Age,Education,JobType,Location,CompanySize,PerformanceRating,ProjectsCompleted,Certifications,Promoted,Salary
0,1.1,22,Bachelor,Engineering,Urban,Medium,3,2,0,No,45000
1,1.3,23,Bachelor,Marketing,Suburban,Small,3,3,1,No,42000
2,1.5,24,Bachelor,Sales,Urban,Medium,4,4,1,No,46000
3,1.8,25,Bachelor,HR,Rural,Small,3,2,0,No,38000
4,2.0,26,Bachelor,DataScience,Urban,Large,4,5,2,No,55000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   YearsExperience    99 non-null     float64
 1   Age                99 non-null     int64
 2   Education          99 non-null     object
 3   JobType            99 non-null     object
 4   Location           99 non-null     object
 5   CompanySize        99 non-null     object
 6   PerformanceRating  99 non-null     int64
 7   ProjectsCompleted  99 non-null     int64
 8   Certifications     99 non-null     int64
 9   Promoted           99 non-null     object
 10  Salary             99 non-null     int64
dtypes: float64(1), int64(5), object(5)
memory usage: 8.6+ KB

In [6]:
df.shape

(99, 11)

In [7]:
df.describe()

,YearsExperience,Age,PerformanceRating,ProjectsCompleted,Certifications,Salary
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,5.795960,41.303030,4.090909,12.676768,2.797980,85151.515152
std,2.845796,11.258969,0.948586,7.783851,1.603439,33979.694908
min,0.800000,21.000000,2.000000,1.000000,0.000000,35000.000000
25%,3.450000,32.000000,3.000000,6.500000,2.000000,55000.000000
50%,5.800000,41.000000,4.000000,12.000000,3.000000,82000.000000
75%,8.050000,50.500000,5.000000,18.000000,4.000000,112000.000000
max,12.000000,63.000000,5.000000,35.000000,5.000000,160000.000000

In [8]:
df['Education'].nunique()

3

In [9]:
df['Education'].value_counts()

Education
Bachelor    36
Master      34
PhD         29
Name: count, dtype: int64

In [10]:
df['Education'].unique()

array(['Bachelor', 'Master', 'PhD'], dtype=object)

In [11]:
df['Education'].drop_duplicates().tolist()

['Bachelor', 'Master', 'PhD']

In [12]:
for i in range(0,11):
    print(df.columns[i],":",df[df.columns[i]].nunique(),":",df[df.columns[i]].drop_duplicates().tolist())

YearsExperience : 96 : [1.1, 1.3, 1.5, 1.8, 2.0, 2.2, 2.5, 2.8, 3.0, 3.2, 3.5, 3.8, 4.0, 4.2, 4.5, 4.8, 5.0, 5.3, 5.5, 5.8, 6.0, 6.2, 6.5, 6.8, 7.0, 7.3, 7.5, 7.8, 8.0, 8.2, 8.5, 8.8, 9.0, 9.3, 9.5, 9.8, 10.0, 10.5, 11.0, 2.3, 3.7, 4.3, 5.2, 6.3, 7.2, 8.3, 9.2, 1.7, 2.7, 3.3, 4.7, 5.7, 6.7, 7.7, 8.7, 9.7, 1.4, 2.4, 3.4, 4.4, 5.4, 6.4, 7.4, 8.4, 9.4, 1.9, 2.9, 3.9, 4.9, 5.9, 6.9, 7.9, 8.9, 10.2, 1.2, 2.1, 3.1, 4.1, 5.1, 6.1, 7.1, 8.1, 9.1, 10.8, 1.6, 2.6, 3.6, 4.6, 5.6, 6.6, 7.6, 8.6, 9.6, 11.5, 12.0, 0.8]
Age : 43 : [22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 21]
Education : 3 : ['Bachelor', 'Master', 'PhD']
JobType : 6 : ['Engineering', 'Marketing', 'Sales', 'HR', 'DataScience', 'Management']
Location : 3 : ['Urban', 'Suburban', 'Rural']
CompanySize : 3 : ['Medium', 'Small', 'Large']
PerformanceRating : 4 : [3, 4, 5, 2]
ProjectsCompleted : 31 : [2, 3, 4, 5, 6, 7, 8, 10, 9, 12, 14, 11, 15, 13, 16, 18, 17, 20, 22, 24, 25, 28, 19, 23, 21, 26, 27, 30, 32, 35, 1]
Certifications : 6 : [0, 1, 2, 3, 4, 5]
Promoted : 2 : ['No', 'Yes']
Salary : 84 : [45000, 42000, 46000, 38000, 55000, 48000, 62000, 52000, 58000, 72000, 51000, 54000, 78000, 47000, 75000, 56000, 88000, 60000, 95000, 82000, 105000, 92000, 86000, 98000, 115000, 94000, 64000, 102000, 125000, 90000, 108000, 130000, 135000, 112000, 140000, 145000, 40000, 50000, 68000, 70000, 118000, 85000, 138000, 39000, 65000, 63000, 80000, 110000, 106000, 128000, 142000, 37000, 49000, 84000, 100000, 122000, 136000, 41000, 73000, 66000, 132000, 148000, 44000, 67000, 53000, 87000, 104000, 96000, 120000, 134000, 152000, 36000, 71000, 59000, 91000, 114000, 116000, 126000, 155000, 160000, 35000, 57000, 83000, 119000]

In [13]:
from sklearn.preprocessing import OrdinalEncoder

# Define correct orders
education_order = ['Bachelor', 'Master', 'PhD']
jobtype_order = ['HR', 'Sales', 'Marketing', 'Engineering', 'DataScience', 'Management']
location_order = ['Rural', 'Suburban', 'Urban']
companysize_order = ['Small', 'Medium', 'Large']
promoted_order = ['No', 'Yes']

# Ordinal Encoder
encoder = OrdinalEncoder(categories=[
    education_order,
    jobtype_order,
    location_order,
    companysize_order,
    promoted_order
])

# Apply encoding
df[['Education', 'JobType', 'Location', 'CompanySize', 'Promoted']] = \
    encoder.fit_transform(
        df[['Education', 'JobType', 'Location', 'CompanySize', 'Promoted']]
    )

# Optional: convert to int for clarity
df[['Education', 'JobType', 'Location', 'CompanySize', 'Promoted']] = \
    df[['Education', 'JobType', 'Location', 'CompanySize', 'Promoted']].astype(int)

# Final check
print(df.dtypes)

YearsExperience      float64
Age                    int64
Education              int32
JobType                int32
Location               int32
CompanySize            int32
PerformanceRating      int64
ProjectsCompleted      int64
Certifications         int64
Promoted               int32
Salary                 int64
dtype: object

In [14]:
df

,YearsExperience,Age,Education,JobType,Location,CompanySize,PerformanceRating,ProjectsCompleted,Certifications,Promoted,Salary
0,1.1,22,0,3,2,1,3,2,0,0,45000
1,1.3,23,0,2,1,0,3,3,1,0,42000
2,1.5,24,0,1,2,1,4,4,1,0,46000
3,1.8,25,0,0,0,0,3,2,0,0,38000
4,2.0,26,0,4,2,2,4,5,2,0,55000
...,...,...,...,...,...,...,...,...,...,...,...
94,12.0,63,2,3,2,2,5,35,5,1,160000
95,0.8,21,0,1,0,0,2,1,0,0,35000
96,3.8,34,0,3,1,1,3,7,2,0,57000
97,5.8,42,1,2,2,2,4,12,3,1,83000
98,7.8,50,2,4,2,2,5,20,5,1,119000

In [15]:
x=df.iloc[:,0:-1]
y=df.iloc[:,-1:]

In [16]:
x.head()

,YearsExperience,Age,Education,JobType,Location,CompanySize,PerformanceRating,ProjectsCompleted,Certifications,Promoted
0,1.1,22,0,3,2,1,3,2,0,0
1,1.3,23,0,2,1,0,3,3,1,0
2,1.5,24,0,1,2,1,4,4,1,0
3,1.8,25,0,0,0,0,3,2,0,0
4,2.0,26,0,4,2,2,4,5,2,0

In [17]:
y.head()

   Salary
0   45000
1   42000
2   46000
3   38000
4   55000

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=3)

In [19]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(79, 10) (20, 10) (79, 1) (20, 1)

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
lr = LinearRegression()

In [22]:
lr.fit(X_train,y_train)

LinearRegression()

In [23]:
y_pred = lr.predict(X_test)

In [24]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
print("MAE",mean_absolute_error(y_test,y_pred))
print("MSE",mean_squared_error(y_test,y_pred))
print("R2 score",r2_score(y_test,y_pred))

MAE 2842.1531545411253
MSE 20666302.763874877
R2 score 0.9694641187021408

In [25]:
lr.coef_

array([[-2429.21335611,   568.0791056 , 10247.52079322,  1076.11322925,
         -235.59517713,  1264.08499309, -1057.91015858,  2933.10726062,
         2262.99869412,  -566.38929255]])

In [26]:
lr.intercept_

array([22878.76452575])